<section class="py-4">
    <h1 class="display-2">
        Thank You so much
    </h1>
    <p class="lead">You will get your product in several business day</p>
    <a href="/"class="btn btn-outline-primary">Home</a>

</section>
